# Accepted to Credit History

In [1]:
import pandas as pd

In [3]:
df_accepted = pd.read_csv('../../data/accepted_2007_to_2018Q4.csv')
display(df_accepted.head())

C:\Users\zeynep\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_accepted.filter(like='mort_acc').columns

Index(['mort_acc', 'sec_app_mort_acc'], dtype='object')

In [5]:
pd.set_option('display.max_columns', None)
print(df_accepted.columns.tolist())

['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'fico_range_low', 'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'revol_bal_joint', 'sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog', 'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'disbursement_method', 'debt_settlement_flag', 'debt_settlement_flag_date', 'settlement_status', 'settlement_date', 'settlement_amount', 'settlement_percentage', 'settlement_term']

In [6]:
# id is pk ?
is_id_unique = df_accepted['id'].is_unique
print(f"Is the 'id' column in df_accepted unique? {is_id_unique}")

Is the 'id' column in df_accepted unique? True

In [7]:
null_ids = df_accepted['id'].isnull().sum()
print(f"Number of null values in 'id' column: {null_ids}")

Number of null values in 'id' column: 0

In [8]:
df_accepted['id'].shape[0]

2260701

In [9]:
print("Checking for columns where all values are null in df_accepted...")
null_columns_all = df_accepted.columns[df_accepted.isnull().all()].tolist()

if null_columns_all:
    print("Columns where all values are null:")
    for col in null_columns_all:
        print(f"- {col}")
else:
    print("No columns found where all values are null.")

Checking for columns where all values are null in df_accepted...
Columns where all values are null:
- member_id

In [10]:
selected_columns = [
    'id',
    'earliest_cr_line',
    'fico_range_low',
    'fico_range_high',
    'last_fico_range_low',
    'last_fico_range_high',
    'inq_last_6mths',
    'inq_last_12m',
    'inq_fi',
    'total_cu_tl',
    'acc_open_past_24mths',
    'open_acc',
    'pub_rec',
    'revol_bal',
    'revol_util',
    'total_acc',
    'avg_cur_bal',
    'bc_open_to_buy',
    'bc_util',
    'mort_acc',
    'tot_coll_amt',
    'tot_cur_bal',
    'total_rev_hi_lim',
    'total_bc_limit',
    'total_il_high_credit_limit',
    'all_util',
    'max_bal_bc',
    'num_actv_bc_tl',
    'num_actv_rev_tl',
    'num_bc_sats',
    'num_bc_tl',
    'num_il_tl',
    'num_op_rev_tl',
    'num_rev_accts',
    'num_rev_tl_bal_gt_0',
    'num_sats',
    'mo_sin_old_il_acct',
    'mo_sin_old_rev_tl_op',
    'mo_sin_rcnt_rev_tl_op',
    'mo_sin_rcnt_tl',
    'mort_acc',
    'pct_tl_nvr_dlq',
    'percent_bc_gt_75'
]

credit_history = df_accepted[selected_columns].copy()
display(credit_history.head())
credit_history.shape
credit_history.to_csv('credit_history.csv', index=False)

,id,earliest_cr_line,fico_range_low,fico_range_high,last_fico_range_low,last_fico_range_high,inq_last_6mths,inq_last_12m,inq_fi,total_cu_tl,acc_open_past_24mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,avg_cur_bal,bc_open_to_buy,bc_util,mort_acc,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,total_bc_limit,total_il_high_credit_limit,all_util,max_bal_bc,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,pct_tl_nvr_dlq,percent_bc_gt_75
0,68407277,Aug-2003,675.0,679.0,560.0,564.0,1.0,4.0,3.0,1.0,4.0,7.0,0.0,2765.0,29.7,13.0,20701.0,1506.0,37.2,1.0,722.0,144904.0,9300.0,2400.0,13734.0,34.0,722.0,2.0,4.0,2.0,5.0,3.0,4.0,9.0,4.0,7.0,148.0,128.0,3.0,3.0,1.0,76.9,0.0
1,68355089,Dec-1999,715.0,719.0,695.0,699.0,4.0,6.0,0.0,0.0,4.0,22.0,0.0,21470.0,19.2,38.0,9733.0,57830.0,27.1,4.0,0.0,204396.0,111800.0,79300.0,24667.0,29.0,6472.0,5.0,5.0,13.0,17.0,6.0,20.0,27.0,5.0,22.0,113.0,192.0,2.0,2.0,4.0,97.4,7.7
2,68341763,Aug-2000,695.0,699.0,700.0,704.0,0.0,1.0,2.0,5.0,6.0,6.0,0.0,7869.0,56.2,18.0,31617.0,2737.0,55.9,5.0,0.0,189699.0,14000.0,6200.0,14877.0,65.0,2081.0,2.0,3.0,2.0,4.0,6.0,4.0,7.0,3.0,6.0,125.0,184.0,14.0,14.0,5.0,100.0,50.0
3,66310712,Sep-2008,785.0,789.0,675.0,679.0,0.0,0.0,0.0,1.0,2.0,13.0,0.0,7802.0,11.6,17.0,23192.0,54962.0,12.1,1.0,0.0,301500.0,67300.0,62500.0,18000.0,45.0,6987.0,4.0,5.0,8.0,10.0,2.0,10.0,13.0,5.0,13.0,36.0,87.0,2.0,2.0,1.0,100.0,0.0
4,68476807,Jun-1998,695.0,699.0,700.0,704.0,3.0,3.0,2.0,1.0,10.0,12.0,0.0,21929.0,64.5,35.0,27644.0,4567.0,77.5,6.0,0.0,331730.0,34000.0,20300.0,88097.0,78.0,9702.0,4.0,6.0,5.0,9.0,10.0,7.0,19.0,6.0,12.0,128.0,210.0,4.0,4.0,6.0,96.6,60.0

In [12]:
df_credit_history = pd.read_csv('../../data/created_data/credit_history.csv')
display(df_credit_history.head())

C:\Users\zeynep\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,earliest_cr_line,fico_range_low,fico_range_high,last_fico_range_low,last_fico_range_high,inq_last_6mths,inq_last_12m,inq_fi,total_cu_tl,acc_open_past_24mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,avg_cur_bal,bc_open_to_buy,bc_util,mort_acc,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,total_bc_limit,total_il_high_credit_limit,all_util,max_bal_bc,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc.1,pct_tl_nvr_dlq,percent_bc_gt_75
0,68407277,Aug-2003,675.0,679.0,560.0,564.0,1.0,4.0,3.0,1.0,4.0,7.0,0.0,2765.0,29.7,13.0,20701.0,1506.0,37.2,1.0,722.0,144904.0,9300.0,2400.0,13734.0,34.0,722.0,2.0,4.0,2.0,5.0,3.0,4.0,9.0,4.0,7.0,148.0,128.0,3.0,3.0,1.0,76.9,0.0
1,68355089,Dec-1999,715.0,719.0,695.0,699.0,4.0,6.0,0.0,0.0,4.0,22.0,0.0,21470.0,19.2,38.0,9733.0,57830.0,27.1,4.0,0.0,204396.0,111800.0,79300.0,24667.0,29.0,6472.0,5.0,5.0,13.0,17.0,6.0,20.0,27.0,5.0,22.0,113.0,192.0,2.0,2.0,4.0,97.4,7.7
2,68341763,Aug-2000,695.0,699.0,700.0,704.0,0.0,1.0,2.0,5.0,6.0,6.0,0.0,7869.0,56.2,18.0,31617.0,2737.0,55.9,5.0,0.0,189699.0,14000.0,6200.0,14877.0,65.0,2081.0,2.0,3.0,2.0,4.0,6.0,4.0,7.0,3.0,6.0,125.0,184.0,14.0,14.0,5.0,100.0,50.0
3,66310712,Sep-2008,785.0,789.0,675.0,679.0,0.0,0.0,0.0,1.0,2.0,13.0,0.0,7802.0,11.6,17.0,23192.0,54962.0,12.1,1.0,0.0,301500.0,67300.0,62500.0,18000.0,45.0,6987.0,4.0,5.0,8.0,10.0,2.0,10.0,13.0,5.0,13.0,36.0,87.0,2.0,2.0,1.0,100.0,0.0
4,68476807,Jun-1998,695.0,699.0,700.0,704.0,3.0,3.0,2.0,1.0,10.0,12.0,0.0,21929.0,64.5,35.0,27644.0,4567.0,77.5,6.0,0.0,331730.0,34000.0,20300.0,88097.0,78.0,9702.0,4.0,6.0,5.0,9.0,10.0,7.0,19.0,6.0,12.0,128.0,210.0,4.0,4.0,6.0,96.6,60.0

In [13]:
pd.set_option('display.max_columns', None)
print(df_credit_history.columns.tolist())

['id', 'earliest_cr_line', 'fico_range_low', 'fico_range_high', 'last_fico_range_low', 'last_fico_range_high', 'inq_last_6mths', 'inq_last_12m', 'inq_fi', 'total_cu_tl', 'acc_open_past_24mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'mort_acc', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim', 'total_bc_limit', 'total_il_high_credit_limit', 'all_util', 'max_bal_bc', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc.1', 'pct_tl_nvr_dlq', 'percent_bc_gt_75']